<!DOCTYPE html>
<html>
    <head>
      <meta property="og:title" content="<%= @service.name %>"/>
      <meta property="og:image" content='<%= @service.cover %>'/>
      <meta property="og:description" content="<%= @service.description %>"/>
      <meta property="og:type" content="website"/>
      <!-- <meta property="og:url" content="https://chambita.mx"/> -->
      <meta property="og:site_name" content="Chambita"/>
      <meta property="og:country-name" content="México"/>
    </head>
    <body>
        <p><%= @service.name %></p>
        <img src="<%= @service.cover %>">
    </body>
</html>
